// Color Scheme
$dark-red:  #9f111b !default;
$red:       #b90504 !default;
$dark-grey: #333333 !default;
$grey:      #cccccc !default;
$white:     #ffffff !default;

// Supporting Color
$s-error    : #e0182d !default;
$s-success  : #5aa700 !default;
$s-warning  : #efc100 !default;
$s-info     : #5aaafa !default;

// Font
$font-base: 16;
$font-stack-poppins: ("Poppins", "Helvetica Neue", Arial, sans-serif) !default;
$font-stack-lato: ("Lato", "Raleway", Arial, sans-serif) !default;
$font-stack-roboto: ("Roboto", Arial, sans-serif) !default;