#about {
  @extend %background-default;

  img {
    @media only screen and (max-width: 991px) {
      margin-bottom: 20px;
    }
  }

  li {
    list-style: none;
  }

  h1 {
    margin-bottom: 20px;

    span {
      color: $red;
    }
  }

  @extend .social-media__link;

  .social-media__link {
    padding-left: 0;
  }
}