#brands {
  @extend %background-default;

  .brand-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .image-wrapper {
    max-width: 160px;
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 10px;

    @media (max-width: 320px) {
      max-width: 130px;
      padding: 5px 15px;
    }
  }
}