.social-media__link {
  display: flex;
  padding-left: 0.5rem;

  @media only screen and (max-width: 767px) {
    padding-left: 0.5rem;
  }

  .social-media__icon {
    width: auto;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;

    i {
      color: $white;
    }

    .fa-imdb {
      position: absolute;
      top: -2px;
      left: 0;
      color: #f5de50;
      font-size: 34px;
      margin: 0;
      &:hover {
        color: darken(#f5de50, 10);
      }
    }
  }

  .social-media__icon--facebook {
    background-color: #4267b2;
    &:hover {
      background-color: darken(#4267b2, 10);
    }
  }

  .social-media__icon--twitter {
    background-color: #1da1f2;
    &:hover {
      background-color: darken(#1da1f2, 10);
    }
  }

  .social-media__icon--linkedin {
    background-color: #0073b1;
    &:hover {
      background-color: darken(#0073b1, 10);
    }
  }

  .social-media__icon--google {
    background-color: #e93f2e;
    &:hover {
      background-color: darken(#e93f2e, 10);
    }
  }

  .social-media__icon--youtube {
    background-color: #ff0000;
    &:hover {
      background-color: darken(#ff0000, 10);
    }
  }

  .social-media__icon--imdb {
    padding: 0;
    position: relative;
    background-color: #000;
    width: 29px;
    height: 28px;
  }

  i.fab {
    width: 25px;
    height: 20px;
  }
}