@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 1px solid #e6e6e6; }

table.dataTable.no-footer {
  border-bottom: 1px solid #e6e6e6; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle !important; }

.pagination .page-link {
  color: #b90504; }

.page-item.active .page-link {
  background-color: #b90504;
  border-color: #b90504; }

html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: "Lato", "Raleway", Arial, sans-serif;
  color: #333333 !important; }

a {
  color: inherit; }
  a:hover {
    color: #9f111b !important; }

#loginModal .modal-header {
  border-bottom: none;
  padding: 1rem 1rem 0 1rem; }

#loginModal .modal-footer {
  border-top: none;
  padding-top: 0; }

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #9f111b;
  border-color: #9f111b;
  color: #e6e6e6 !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold; }

blockquote {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 1.2rem; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2rem !important; } }

@media only screen and (max-width: 575px) {
  h1 {
    font-size: 1.75rem !important; } }

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 1.5rem !important; } }

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1.25rem !important; } }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 1.75rem !important; } }

@media only screen and (max-width: 575px) {
  h2 {
    font-size: 1.5rem !important; } }

@media only screen and (max-width: 320px) {
  h2 {
    font-size: 1.25rem !important; } }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 1.5rem !important; } }

@media only screen and (max-width: 575px) {
  h3 {
    font-size: 1.25rem !important; } }

@media only screen and (max-width: 320px) {
  h3 {
    font-size: 1.10rem !important; } }

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 1.25rem !important; } }

@media only screen and (max-width: 575px) {
  h4 {
    font-size: 1.15rem !important; } }

@media only screen and (max-width: 320px) {
  h4 {
    font-size: 1.10rem !important; } }

blockquote {
  font-style: italic;
  line-height: 1.2; }

#header .active {
  font-weight: bold;
  color: #b90504; }

#header .header__nav--is-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  height: 50px;
  padding: 10px 0 10px 0; }
  @media only screen and (max-width: 767px) {
    #header .header__nav--is-top {
      flex-direction: column;
      align-items: flex-start;
      height: auto; } }
  @media only screen and (max-width: 532px) {
    #header .header__nav--is-top {
      display: none !important; } }
  #header .header__nav--is-top ul {
    margin: 0; }
  #header .header__nav--is-top li {
    list-style: none; }
  #header .header__nav--is-top .contact {
    display: flex;
    margin-right: 25px !important; }
    @media only screen and (max-width: 320px) {
      #header .header__nav--is-top .contact {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
        margin-right: 0 !important;
        padding: 0; } }
    @media only screen and (max-width: 350px) {
      #header .header__nav--is-top .contact {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
        margin-right: 0 !important;
        padding: 0; } }
    @media only screen and (max-width: 767px) {
      #header .header__nav--is-top .contact {
        margin-top: 0;
        margin-right: 0 !important;
        padding: 0.5rem; } }
    #header .header__nav--is-top .contact .contact__list:last-child {
      margin-left: 20px; }
      @media only screen and (max-width: 320px) {
        #header .header__nav--is-top .contact .contact__list:last-child {
          margin-left: 0; } }

#header .header__nav--is-bottom img {
  max-width: 100px;
  width: 100%; }

#header .header__nav--is-bottom .nav-link {
  margin: 0 20px;
  color: inherit;
  text-transform: uppercase; }
  @media only screen and (max-width: 991px) {
    #header .header__nav--is-bottom .nav-link {
      margin: 0; } }

#header .btn-primary {
  padding-right: 30px;
  padding-left: 30px;
  margin-left: 20px; }
  @media only screen and (max-width: 991px) {
    #header .btn-primary {
      margin: 15px 0; } }

#footer {
  padding: 50px 0;
  text-align: center;
  background-color: #333333;
  color: #f7f7f7; }
  #footer a:hover {
    text-decoration: none; }
  #footer p.small {
    color: #b3b3b3; }
  #footer p img {
    width: 90px; }

.btn-primary, #header .btn-primary {
  background-color: #b90504;
  border-color: #b90504;
  color: #ffffff; }
  .btn-primary:hover, #header .btn-primary:hover {
    background-color: #9f111b;
    border-color: #9f111b;
    color: #e6e6e6 !important; }

.btn-outline, .gallery .load-more .btn-outline {
  background-color: transparent;
  border: 2px solid #b90504;
  color: #b90504; }
  .btn-outline:hover, .gallery .load-more .btn-outline:hover {
    background-color: #9f111b;
    border-color: #9f111b;
    color: #e6e6e6 !important; }

#audio-reel, #about, #testimonial, #brands, #niche-studio, .gallery, .videos, #blog, #blog-single, #contact {
  padding: 50px 0; }

@media only screen and (max-width: 991px) {
  #about img {
    margin-bottom: 20px; } }

#about li {
  list-style: none; }

#about h1 {
  margin-bottom: 20px; }
  #about h1 span {
    color: #b90504; }

#about .contact {
  flex-direction: column;
  padding-left: 0;
  margin-top: 30px;
  margin-right: 0 !important; }
  @media only screen and (max-width: 350px) {
    #about .contact {
      text-align: left;
      margin-top: 40px !important; } }
  #about .contact .contact__list:last-child {
    margin-left: 0; }

#about .social-media__link, #about #header .header__nav--is-top, #header #about .header__nav--is-top, #about #about {
  padding-left: 0; }

.social-media__link, #header .header__nav--is-top, #about {
  display: flex;
  padding-left: 0.5rem; }
  @media only screen and (max-width: 767px) {
    .social-media__link, #header .header__nav--is-top, #about {
      padding-left: 0.5rem; } }
  .social-media__link .social-media__icon, #header .header__nav--is-top .social-media__icon, #about .social-media__icon {
    width: auto;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px; }
    .social-media__link .social-media__icon i, #header .header__nav--is-top .social-media__icon i, #about .social-media__icon i {
      color: #ffffff; }
  .social-media__link .social-media__icon--facebook, #header .header__nav--is-top .social-media__icon--facebook, #about .social-media__icon--facebook {
    background-color: #4267b2; }
    .social-media__link .social-media__icon--facebook:hover, #header .header__nav--is-top .social-media__icon--facebook:hover, #about .social-media__icon--facebook:hover {
      background-color: #34518d; }
  .social-media__link .social-media__icon--twitter, #header .header__nav--is-top .social-media__icon--twitter, #about .social-media__icon--twitter {
    background-color: #1da1f2; }
    .social-media__link .social-media__icon--twitter:hover, #header .header__nav--is-top .social-media__icon--twitter:hover, #about .social-media__icon--twitter:hover {
      background-color: #0c85d0; }
  .social-media__link .social-media__icon--linkedin, #header .header__nav--is-top .social-media__icon--linkedin, #about .social-media__icon--linkedin {
    background-color: #0073b1; }
    .social-media__link .social-media__icon--linkedin:hover, #header .header__nav--is-top .social-media__icon--linkedin:hover, #about .social-media__icon--linkedin:hover {
      background-color: #00527e; }
  .social-media__link .social-media__icon--google, #header .header__nav--is-top .social-media__icon--google, #about .social-media__icon--google {
    background-color: #e93f2e; }
    .social-media__link .social-media__icon--google:hover, #header .header__nav--is-top .social-media__icon--google:hover, #about .social-media__icon--google:hover {
      background-color: #ce2616; }
  .social-media__link .social-media__icon--youtube, #header .header__nav--is-top .social-media__icon--youtube, #about .social-media__icon--youtube {
    background-color: #ff0000; }
    .social-media__link .social-media__icon--youtube:hover, #header .header__nav--is-top .social-media__icon--youtube:hover, #about .social-media__icon--youtube:hover {
      background-color: #cc0000; }
  .social-media__link .social-media__icon--imdb, #header .header__nav--is-top .social-media__icon--imdb, #about .social-media__icon--imdb {
    background-color: #f5de50; }
    .social-media__link .social-media__icon--imdb:hover, #header .header__nav--is-top .social-media__icon--imdb:hover, #about .social-media__icon--imdb:hover {
      background-color: #f2d520; }
  .social-media__link i.fab, #header .header__nav--is-top i.fab, #about i.fab {
    width: 25px;
    height: 20px; }

.box-wrapper .box-overlay, #blog .box-overlay, #blog-single .box-overlay, #blog-single .blog-overlay {
  background-color: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  bottom: 5%;
  left: 0;
  position: absolute; }

.box-wrapper .box-info, #blog .box-info, #blog-single .box-info, #blog-single .blog-info {
  display: inline-block;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10; }

.box-wrapper .box-info .box-category, #blog .box-info .box-category, #blog-single .box-info .box-category, #blog-single .blog-info span.blog-category {
  background-color: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 15px; }

.box-wrapper .box-info .box-category:hover, #blog .box-info .box-category:hover, #blog-single .box-info .box-category:hover, #blog-single .blog-info span.blog-category:hover {
  background-color: #9f111b;
  color: #ffffff;
  cursor: pointer; }

.box-wrapper, #blog, #blog-single {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch; }
  .box-wrapper .box, #blog .box, #blog-single .box {
    position: relative;
    flex: 0 1 47%;
    min-height: 0;
    margin: 0 15px 25px 15px;
    box-shadow: 0 1px 10px 0 rgba(204, 204, 204, 0.75); }
    .box-wrapper .box:hover, #blog .box:hover, #blog-single .box:hover {
      box-shadow: 0 3px 10px 0 rgba(87, 87, 87, 0.75); }
    @media only screen and (max-width: 1199px) {
      .box-wrapper .box, #blog .box, #blog-single .box {
        flex: 1 1 45%; } }
    @media only screen and (max-width: 991px) {
      .box-wrapper .box h4, #blog .box h4, #blog-single .box h4 {
        font-size: 1rem; }
      .box-wrapper .box p, #blog .box p, #blog-single .box p {
        margin: 0; } }
  .box-wrapper img:hover, #blog img:hover, #blog-single img:hover {
    opacity: 0.9; }
  .box-wrapper .box-overlay, #blog .box-overlay, #blog-single .box-overlay {
    padding: 15px;
    margin-right: 40px; }
    @media only screen and (max-width: 380px) {
      .box-wrapper .box-overlay, #blog .box-overlay, #blog-single .box-overlay {
        margin-right: 0;
        bottom: 0; } }
  .box-wrapper p a, #blog p a, #blog-single p a {
    color: #b90504; }

.headul {
  margin: 30px auto 50px auto; }
  @media only screen and (max-width: 767px) {
    .headul {
      margin: 20px auto 40px auto; } }
  @media only screen and (max-width: 575px) {
    .headul {
      margin: 15px auto 35px auto; } }
  @media only screen and (max-width: 320px) {
    .headul {
      margin: 10px auto 30px auto; } }
  .headul:before {
    content: " ";
    width: 220px;
    height: 2px;
    background-color: #b90504;
    margin: 0 auto;
    display: block; }
  .headul:after {
    margin: 0 auto;
    content: " ";
    width: 60px;
    height: 6px;
    background-color: #b90504;
    display: block; }

#hero-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  z-index: 2; }
  @media only screen and (max-width: 532px) {
    #hero-wrapper {
      height: auto; } }
  #hero-wrapper video {
    min-width: 100%;
    min-height: 100%;
    width: 100vw; }
  #hero-wrapper #video-content {
    top: -100px;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    height: 100vh; }
    @media only screen and (max-width: 320px) {
      #hero-wrapper #video-content {
        top: -35vh; } }
    @media only screen and (max-width: 532px) {
      #hero-wrapper #video-content h1 {
        display: none; } }
    @media only screen and (min-width: 533px) and (max-width: 766px) {
      #hero-wrapper #video-content h1 {
        font-size: 2rem; } }
    @media only screen and (max-width: 767px) {
      #hero-wrapper #video-content h1 {
        font-size: 3.25rem; } }
    #hero-wrapper #video-content h1 span {
      color: #b90504; }
    @media only screen and (max-width: 532px) {
      #hero-wrapper #video-content p {
        display: none; } }
    @media only screen and (min-width: 533px) and (max-width: 766px) {
      #hero-wrapper #video-content p {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 767px) {
      #hero-wrapper #video-content p {
        font-size: 2.25rem; } }
    #hero-wrapper #video-content .video-control {
      position: absolute;
      top: 25%;
      right: 5%; }
      @media only screen and (max-width: 320px) {
        #hero-wrapper #video-content .video-control {
          top: 38vh; } }
      @media only screen and (min-width: 487px) and (max-width: 767px) {
        #hero-wrapper #video-content .video-control {
          top: 28vh; } }
      #hero-wrapper #video-content .video-control i {
        font-size: 2rem; }
        @media only screen and (max-width: 320px) {
          #hero-wrapper #video-content .video-control i {
            font-size: 1.5rem; } }

#audio-reel {
  background-color: #1a1a1a; }
  #audio-reel h1 {
    color: #f2f2f2; }
  #audio-reel .reel-controller {
    color: #f2f2f2; }
    #audio-reel .reel-controller .reel-controls {
      background-color: rgba(0, 0, 0, 0.4);
      padding: 10px 15px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      margin: 10px 0 20px 0; }
      @media only screen and (max-width: 320px) {
        #audio-reel .reel-controller .reel-controls {
          text-align: center; } }
    #audio-reel .reel-controller .author-time {
      display: flex;
      justify-content: space-between; }
    @media only screen and (max-width: 320px) {
      #audio-reel .reel-controller .controller {
        margin-bottom: 10px; } }
    #audio-reel .reel-controller .controller i:nth-child(2) {
      margin: 0 15px; }
    #audio-reel .reel-controller .progress {
      margin-top: 3px;
      background-color: rgba(46, 46, 46, 0.4); }
      #audio-reel .reel-controller .progress .progress-bar {
        background-color: #b90504; }
  #audio-reel .reel-container {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
    #audio-reel .reel-container .list-group-item {
      background-color: transparent;
      color: #f2f2f2;
      display: flex;
      justify-content: space-between; }
      #audio-reel .reel-container .list-group-item:last-child {
        justify-content: center; }
      #audio-reel .reel-container .list-group-item:hover {
        color: #b90504;
        cursor: pointer; }
      #audio-reel .reel-container .list-group-item a {
        color: #f2f2f2; }

#about {
  background-color: #e6e6e6; }

#testimonial blockquote .testimonial:before {
  content: "\201F ";
  font-family: Georgia, serif;
  font-weight: bold;
  color: #b90504;
  font-size: 2em;
  line-height: .1em;
  margin-right: 0;
  vertical-align: -0.3em; }

#testimonial blockquote .testimonial:after {
  content: "\201D ";
  font-family: Georgia, serif;
  font-weight: bold;
  color: #b90504;
  font-size: 2em;
  line-height: .1em;
  margin-right: 0;
  vertical-align: -0.3em; }

#testimonial blockquote .client-name {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  font-style: normal; }

#brands {
  background-color: whitesmoke; }
  #brands .brand-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    #brands .brand-wrapper .image-wrapper {
      max-width: 100px;
      width: 100%;
      margin: 10px 20px; }

.headul {
  margin: 30px auto 50px auto; }
  @media only screen and (max-width: 767px) {
    .headul {
      margin: 20px auto 40px auto; } }
  @media only screen and (max-width: 575px) {
    .headul {
      margin: 15px auto 35px auto; } }
  @media only screen and (max-width: 320px) {
    .headul {
      margin: 10px auto 30px auto; } }
  .headul:before {
    content: " ";
    width: 220px;
    height: 2px;
    background-color: #b90504;
    margin: 0 auto;
    display: block; }
  .headul:after {
    margin: 0 auto;
    content: " ";
    width: 60px;
    height: 6px;
    background-color: #b90504;
    display: block; }

#about {
  background-color: whitesmoke; }

#niche-studio .headul::before, #niche-studio .headul::after {
  margin: 0 !important; }

#niche-studio ul {
  padding-left: 0; }

#niche-studio li {
  list-style: none; }

#niche-studio .box {
  padding: 30px;
  box-shadow: 0 3px 20px 0 rgba(204, 204, 204, 0.75); }

@media only screen and (max-width: 767px) {
  #niche-studio .niche {
    margin-bottom: 40px; } }

.headul {
  margin: 30px auto 50px auto; }
  @media only screen and (max-width: 767px) {
    .headul {
      margin: 20px auto 40px auto; } }
  @media only screen and (max-width: 575px) {
    .headul {
      margin: 15px auto 35px auto; } }
  @media only screen and (max-width: 320px) {
    .headul {
      margin: 10px auto 30px auto; } }
  .headul:before {
    content: " ";
    width: 220px;
    height: 2px;
    background-color: #b90504;
    margin: 0 auto;
    display: block; }
  .headul:after {
    margin: 0 auto;
    content: " ";
    width: 60px;
    height: 6px;
    background-color: #b90504;
    display: block; }

.gallery {
  background-color: whitesmoke; }
  .gallery figure {
    margin-bottom: 1.75rem; }
  .gallery .load-more {
    margin-top: 20px; }
    .gallery .load-more .btn-outline {
      padding-right: 30px;
      padding-left: 30px; }
      @media only screen and (max-width: 575px) {
        .gallery .load-more .btn-outline {
          width: 100%; } }

.headul {
  margin: 30px auto 50px auto; }
  @media only screen and (max-width: 767px) {
    .headul {
      margin: 20px auto 40px auto; } }
  @media only screen and (max-width: 575px) {
    .headul {
      margin: 15px auto 35px auto; } }
  @media only screen and (max-width: 320px) {
    .headul {
      margin: 10px auto 30px auto; } }
  .headul:before {
    content: " ";
    width: 220px;
    height: 2px;
    background-color: #b90504;
    margin: 0 auto;
    display: block; }
  .headul:after {
    margin: 0 auto;
    content: " ";
    width: 60px;
    height: 6px;
    background-color: #b90504;
    display: block; }

.videos {
  background-color: whitesmoke; }

.headul {
  margin: 30px auto 50px auto; }
  @media only screen and (max-width: 767px) {
    .headul {
      margin: 20px auto 40px auto; } }
  @media only screen and (max-width: 575px) {
    .headul {
      margin: 15px auto 35px auto; } }
  @media only screen and (max-width: 320px) {
    .headul {
      margin: 10px auto 30px auto; } }
  .headul:before {
    content: " ";
    width: 220px;
    height: 2px;
    background-color: #b90504;
    margin: 0 auto;
    display: block; }
  .headul:after {
    margin: 0 auto;
    content: " ";
    width: 60px;
    height: 6px;
    background-color: #b90504;
    display: block; }

#blog {
  background-color: whitesmoke; }
  #blog #pagination {
    margin-top: 30px; }

#blog-single {
  background-color: whitesmoke; }
  @media only screen and (min-width: 481px) and (max-width: 575px) {
    #blog-single {
      padding: 50px 15px; } }
  #blog-single .box {
    flex: 0 1 30.7%;
    margin: 0 30px; }
    @media only screen and (max-width: 1199px) {
      #blog-single .box {
        flex: 0 1 30.1%; } }
    @media only screen and (max-width: 991px) {
      #blog-single .box {
        flex: 0 1 46.8%;
        margin-bottom: 30px; }
        #blog-single .box:nth-child(2) {
          margin-right: 0; } }
    @media only screen and (max-width: 767px) {
      #blog-single .box {
        flex: 0 1 auto;
        margin: 15px 0; } }
    #blog-single .box:last-child, #blog-single .box:first-child {
      margin-right: 0;
      margin-left: 0; }
    #blog-single .box p {
      margin-bottom: 0; }
    #blog-single .box .box-overlay {
      position: relative;
      margin-right: 0; }
  #blog-single .blog-header {
    position: relative;
    max-height: 400px;
    margin-bottom: 30px;
    overflow: hidden; }
  #blog-single .blog-info span.blog-tags {
    color: #ffffff;
    margin-right: 7px; }
    #blog-single .blog-info span.blog-tags::before {
      content: "#"; }
    @media only screen and (max-width: 380px) {
      #blog-single .blog-info span.blog-tags {
        display: none; } }
  #blog-single .blog-info span a {
    padding: 5px 0; }
    #blog-single .blog-info span a:hover {
      color: #ffffff !important; }
  #blog-single .blog-overlay {
    padding: 15px 35px;
    margin-right: 250px; }
    @media only screen and (max-width: 991px) {
      #blog-single .blog-overlay {
        margin-right: 100px; } }
    @media only screen and (max-width: 767px) {
      #blog-single .blog-overlay {
        margin-right: 70px; } }
    @media only screen and (max-width: 480px) {
      #blog-single .blog-overlay {
        margin: 0; } }
    @media only screen and (max-width: 380px) {
      #blog-single .blog-overlay {
        margin-right: 0;
        bottom: 0;
        padding: 10px 20px; } }
    #blog-single .blog-overlay h2 {
      margin-bottom: 2.5rem; }
      @media only screen and (max-width: 767px) {
        #blog-single .blog-overlay h2 {
          margin-bottom: 1rem; } }
      @media only screen and (max-width: 480px) {
        #blog-single .blog-overlay h2 {
          margin-bottom: 1rem; } }
  #blog-single .author-info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 767px) {
      #blog-single .author-info {
        flex-direction: column;
        align-items: flex-start; } }
    #blog-single .author-info p, #blog-single .author-info .social-sharer {
      margin-bottom: 0; }
      @media only screen and (max-width: 767px) {
        #blog-single .author-info p, #blog-single .author-info .social-sharer {
          margin-bottom: 0.5rem;
          padding: 0; } }
    @media only screen and (max-width: 480px) {
      #blog-single .author-info .social-sharer {
        display: none; } }
  #blog-single li {
    list-style: none; }
  #blog-single p > a {
    color: #b90504; }
  #blog-single .blog-content-wrapper {
    display: flex; }
    @media only screen and (max-width: 950px) {
      #blog-single .blog-content-wrapper {
        flex-direction: column; } }
    @media only screen and (max-width: 768px) {
      #blog-single .blog-content-wrapper {
        flex-direction: column; } }
    #blog-single .blog-content-wrapper p {
      letter-spacing: 0.5px; }
    #blog-single .blog-content-wrapper .blog-content {
      width: 70%; }
      @media only screen and (max-width: 950px) {
        #blog-single .blog-content-wrapper .blog-content {
          width: 100%; } }
  #blog-single .blog-ads {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 30%; }
    @media only screen and (max-width: 950px) {
      #blog-single .blog-ads {
        padding: 0; } }
  #blog-single .blog-related {
    margin: 25px 0;
    padding-top: 10px;
    border-top: 1px solid #e6e6e6; }

#contact {
  background-color: whitesmoke; }
  #contact h1 {
    margin-bottom: 20px; }
    #contact h1 span {
      color: #b90504; }
  #contact .form-wrapper {
    background-color: #ffffff;
    box-shadow: 0 1px 10px 0 rgba(204, 204, 204, 0.75);
    padding: 40px 50px;
    border-radius: 5px; }

.admin-body {
  background-color: whitesmoke; }

.admin-wrapper {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 60px auto 40px;
  grid-template-areas: "aside header"
 "aside section"
 "aside footer";
  margin: 0 auto;
  min-height: 100%;
  height: 100vh; }
  .admin-wrapper .admin-header,
  .admin-wrapper .admin-aside,
  .admin-wrapper .admin-footer {
    background-color: #ffffff; }
  .admin-wrapper .admin-header {
    display: flex;
    justify-items: center;
    align-items: center;
    grid-area: header;
    padding: 10px 30px;
    border-bottom: 1px solid #e6e6e6; }
    .admin-wrapper .admin-header i {
      font-size: 1.25rem; }
      .admin-wrapper .admin-header i:hover {
        color: #b90504;
        cursor: pointer; }
    .admin-wrapper .admin-header .admin-name {
      margin-left: auto; }
  .admin-wrapper .admin-aside {
    grid-area: aside;
    min-height: 100%;
    box-shadow: 1px 0 5px 0 rgba(204, 204, 204, 0.75);
    z-index: 10; }
    .admin-wrapper .admin-aside .admin-logo {
      padding: 8px 0; }
    .admin-wrapper .admin-aside .admin-navigation {
      display: block;
      position: relative; }
    .admin-wrapper .admin-aside .navigation-title {
      display: block;
      text-transform: uppercase;
      padding: 20px 10px 10px 15px;
      letter-spacing: 5px;
      font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
      font-weight: 600; }
    .admin-wrapper .admin-aside img {
      width: 60px; }
    .admin-wrapper .admin-aside ul {
      padding-left: 0;
      margin-bottom: 0; }
    .admin-wrapper .admin-aside li {
      list-style: none;
      display: block; }
    .admin-wrapper .admin-aside a {
      display: block;
      padding: 10px 10px 10px 20px;
      text-transform: uppercase;
      font-weight: 600; }
      .admin-wrapper .admin-aside a:hover {
        text-decoration: none;
        background-color: #e6e6e6; }
  .admin-wrapper .admin-section {
    grid-area: section;
    padding: 25px; }
    .admin-wrapper .admin-section .box {
      width: 100%;
      min-height: 100%;
      height: auto;
      padding: 20px;
      margin-bottom: 20px;
      background-color: #ffffff;
      box-shadow: 0 1px 5px 0 rgba(204, 204, 204, 0.75); }
    .admin-wrapper .admin-section .action {
      display: flex;
      margin-bottom: 30px; }
      .admin-wrapper .admin-section .action button {
        margin-left: auto; }
  .admin-wrapper .admin-footer {
    grid-area: footer;
    border-top: 1px solid #e6e6e6; }
    .admin-wrapper .admin-footer p {
      margin-bottom: 0;
      padding: 10px 30px 10px 0; }
    .admin-wrapper .admin-footer a {
      color: #b90504; }

.delete-question {
  display: flex;
  justify-content: center;
  align-items: center; }
  .delete-question p {
    margin-bottom: 0; }
    .delete-question p span {
      color: #b90504;
      font-weight: bold; }
