#footer {
  padding: 30px 0 20px 0;
  text-align: center;
  background-color: $dark-grey;
  color: darken($white, 3);

  a {
    &:hover {
      text-decoration: none;
    }
  }

  p {
    &.small {
      color: darken($grey, 10);
    }

    img {
      width: 90px;
    }
  }

  .dev-owner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  a {
    &:hover {
      color: $grey !important;
    }
  }
}