#header {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 130px;

  .active {
    font-weight: bold;
    color: $red;
  }

  .header__nav--is-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 50px;
    height: 50px;
    padding: 10px 0 10px 0;

    @media only screen and (max-width: 767px) {
      height: auto;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    @media only screen and (max-width: 525px) {
      flex-direction: column;
      justify-content: space-between;
    }

    ul {
      margin: 0;
    }

    li {
      list-style: none;
    }

    .contact__list {
      margin: 0 10px;
    }

    @extend .social-media__link;
  }

  .header__nav--is-bottom {
    padding-right: 0;
    margin-bottom: 10px;

    .nav-link {
      margin: 0 20px;
      color: inherit;
      text-transform: uppercase;

      @media only screen and (max-width: 991px) {
        margin: 0;
      }
    }
  }

  .btn-primary {
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 20px;
    @media only screen and (max-width: 991px) {
      margin: 15px 0;
    }
  }
}

.navbar-toggler {
  margin-left: auto;

  @media only screen and (max-width: 767px) {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .navbar-collapse {
    margin-top: 20px;
  }

  .navbar-toggler {
    margin-top: 20px;
  }
}

.navbar-brand {
  @media only screen and (max-width: 1199px) {
    margin-right: 0;
  }

  img {
    @media only screen and (max-width: 767px) {
      width: 90px;
    }
  }
}