#niche-studio {
  background-color: $white;
  @extend %background-default;

  .headul {
    &::before, &::after {
      margin: 0 !important;
    }
  }

  .box {
    padding: 30px;
    &:hover {
      box-shadow: 0 3px 20px 0 rgba(204, 204, 204, 0.75);
    }
  }

  .niche {
    @media only screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}