.add-photos-wrapper {
  margin: 0 0 30px 14px;

  label {
    margin-bottom: 0;
  }

  input[type=file] {
    position: absolute;
    top: 16px;
    right: 0;
    bottom: 0;
    left: 30px;
    width: 145px;
    height: 38px;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
  }
}

.preview-image {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;

  .image-displayed {
    border: 1px solid $grey;
    position: relative;

    .remove-icon {
      position: absolute;
      top: -15px;
      right: -15px;
      cursor: pointer;
      font-size: 30px;
      color: $red;
    }
  }

  textarea {
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: 1px solid $grey;
  }

  img {
    height: 250px;
    width: 100%;
    object-fit: contain;
    object-position: top 75%;
  }
}

.admin-gallery {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 20px;

  @media only screen and (max-width: 320px) {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }

  figure {
    width: 100%;
    height: 100%;
    max-height: 240px;
    position: relative;
    border: 1px solid $grey;

    &:hover {
      cursor: pointer;

      .overlay {
        opacity: 1;
      }

      .gallery-action {
        opacity: 1;
      }
    }

    img {
      min-height: 240px;
      max-height: 240px;
      width: inherit;
      object-fit: contain;
    }
  }

  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    overflow: hidden;
    width: inherit;
    height: 100%;
    transition: .3s ease;
    padding: 20px;

    .gallery-title {
      color: $white;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .gallery-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}

.tab-content {
  .action {
    margin-top: 10px;
  }
}