#blog-single {
  @extend %background-default;

  @media only screen and (min-width: 481px) and (max-width: 575px) {
    padding: 50px 15px;
  }

  @extend .box-wrapper;

  .social-media__icon {
    padding: 0;
  }

  .blog-wrapper {
    @include display-flex-column;
  }

  .blog-header {
    position: relative;
    max-height: 400px;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .blog-info {
    @extend %blog-info;

    span {
      &.blog-category {
        @extend %blog-category;

        &:hover {
          @extend %blog-category-hover;
        }
      }
    }

    span {
      &.blog-tags {
        color: $white;
        margin-right: 7px;

        &::before {
          content: "#";
        }

        @media only screen and (max-width: 380px) {
          display: none;
        }
      }

      a {
        padding: 5px 0;

        &:hover {
          color: $white !important;
        }
      }
    }
  }

  .blog-overlay {
    @extend %blog-overlay;
    padding: 15px 35px;
    width: calc(100% - 250px);

    @media only screen and (max-width: 991px) {
      width: calc(100% - 100px);
    }

    @media only screen and (max-width: 767px) {
      width: calc(100% - 70px);
    }

    @media only screen and (max-width: 480px) {
      width: 100%;
    }

    @media only screen and (max-width: 380px) {
      margin-right: 0;
      bottom: 0;
      padding: 10px 20px;
    }

    h2 {
      margin-bottom: 2.5rem;

      @media only screen and (max-width: 767px) {
        margin-bottom: 1rem;
      }

      @media only screen and (max-width: 480px) {
        margin-bottom: 1rem;
      }
    }
  }

  .author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }

    p, .social-sharer {
      margin-bottom: 0;

      @media only screen and (max-width: 767px) {
        margin-bottom: 0.5rem;
        padding: 0;
      }
    }

    .social-sharer {
      @media only screen and (max-width: 767px) {
        justify-content: flex-start;
      }
      @media only screen and (max-width: 424px) {
        flex-direction: row;
      }
    }

    .social-media__icon {
      &:first-child {
        margin-left: 0;
      }
    }
  }

  li {
    list-style: none;
  }

  p {
    > a {
      color: $red;
    }
  }

  .blog-ads {
    @include display-flex-column;
    padding: 0 0 0 20px;
    width: 290px;

    @media only screen and (max-width: 950px) {
      padding: 0;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    @media only screen and (max-width: 545px) {
      flex-direction: column;
    }

    ul {
      padding: 0;
    }

    li {
      display: flex;
      align-items: flex-start;
    }

    .ads-info {
      @include display-flex-column;
    }

    .headul {
      margin: 10px 0 30px 0;
      border-top: none;

      &::after, &::before {
        margin: 0;
      }
    }

    .ads-title {
      font-weight: bold;
      margin-bottom: 0 !important;
    }
  }

  .blog-content-wrapper {
    display: flex;

    @media only screen and (max-width: 950px) {
      flex-direction: column;
    }

    .blog-content {
      width: calc(100% - 290px);

      @media only screen and (max-width: 950px) {
        width: 100%;
      }

      p {
        letter-spacing: 0.5px;
      }
    }
  }

  .side-ads {
    @include display-flex-column;
    min-width: 270px;

    @media only screen and (min-width: 546px) and (max-width: 767px) {
      min-width: 230px;
      padding: 0 10px;
    }

    @media only screen and (max-width: 545px) {
      margin: 0 auto;
    }
  }

  .latest-posts {

    .latest-post__title {
      width: 100%;
      max-width: 212px;
      padding-left: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    li {
      cursor: pointer;
      @include display-flex-column;
      align-items: flex-start;
    }

    .latest-post__link {
      @include flex-space-between;
      position: relative;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.blog-related {
  border-top: 1px solid darken($white, 10);

  .blog-related__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-flow: row;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 375px) {
      grid-template-columns: 1fr;
    }
  }

  .blog-related__card {
    position: relative;
    min-height: 0;

    &:hover {
      box-shadow: 0 3px 7px 0 rgba(87, 87, 87, 0.75);
    }
  }

  .blog-related__card--info {
    @extend %blog-info;

    span {
      &.blog-category {
        @extend %blog-category;

        &:hover {
          @extend %blog-category-hover;
        }
      }
    }

    span {
      &.blog-tags {
        color: $white;
        margin-right: 7px;

        &::before {
          content: "#";
        }

        @media only screen and (max-width: 380px) {
          display: none;
        }
      }

      a {
        padding: 5px 0;

        &:hover {
          color: $white !important;
        }
      }
    }
  }

  .blog-related__card--category {
    @extend %blog-category;

    &:hover {
      @extend %blog-category-hover;
    }
  }

  .box-overlay {
    @extend %blog-overlay;
    position: relative !important;
    margin-right: 0 !important;

    @media only screen and (max-width: 380px) {
      margin-right: 0;
      bottom: 0;
    }
  }

  img {
    &:hover {
      opacity: 0.9;
    }
  }
}

.blog-content {
  h1, h2, h3, h4, h5, h6 {
    color: $red;
    margin-bottom: 3%;
  }
  p {
    img {
      width: 100% !important;
      height: auto !important;
      position: relative;
      &:hover {
        opacity: 1 !important;
      }
    }
  }
  blockquote {
    h5 {
      font-size: 80%;
      font-weight: 400;
    }

    p {
      margin-bottom: 0;
    }
  }
}