#contact {
  @extend %background-default;

  h1 {
    margin-bottom: 20px;

    span {
      color: $red;
    }
  }

  .form-wrapper {
    background-color: $white;
    box-shadow: 0 1px 10px 0 rgba(204, 204, 204, 0.75);
    padding: 40px 50px;
    border-radius: 5px;
  }
}