.gallery {
  @extend %background-default;

  figure {
    margin-bottom: 1.75rem;
  }

  .load-more {
    margin-top: 20px;

    .btn-outline {
      padding-right: 30px;
      padding-left: 30px;

      @media only screen and (max-width: 575px) {
        width: 100%;
      }
    }
  }
}
