.videos {
  @extend %background-default;

  .video__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 30px;
  }

  .video__card {
    position: relative;
    background: $white;

    &:hover {
      box-shadow: 0 3px 7px 0 rgba(87, 87, 87, 0.75);
    }
  }

  .video__details--is-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .video__details--is-description {
    max-height: 100px;
  }
}
